@inject HttpClient Http

<h3>Produits</h3>

<ul class="list-unstyled">
    @foreach (Product product in products)
    {
        <li class="media my-3">
            <div class="media-img-wrapper ">
                <a href="#"><img src="@product.ImageUrl" class="media-img" alt="@product.Title"></a>
            </div>
            <div class="media-body">
                <a href="#">
                    <h4>@product.Title</h4>
                </a>
                <p>@product.Description</p>
                <div class="price">
                    @product.Price €
                </div>
            </div>
        </li>
    }
</ul>

@code {
    private List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Product>>("api/product");
        if (result != null)
            products = result;
    }
}
